/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1,h3 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario */
#registroFormulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5%;
}

label {
    margin-bottom: 10px;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla */
.divTabla {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para el cuadro de diálogo */
.cuadroDialogo {
    width: 50%;
    padding: 3%;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.cuadroDialogo h2 {
    margin-top: 0;
    color: #333;
}


.cerrarDialogo {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #333;
}

/* Cambiar el color al pasar el cursor sobre el botón */
.cerrarDialogo:hover {
    color: #ff0000;
    
}